html {
     height: 100%;
}

body {
     font-family: 'Press Start 2P', cursive;
     font-size: 0.875vw;
     min-height: 100%;
     display: flex;
     flex-direction: column;
     background-image: url("/static/models/background.jpg");
     background-size: cover;
     /* Background images from https://www.freepik.com/free-vector/ */
     min-height: 100vh;
     background-position: center center;
     background-attachment: scroll;
     /* background-blend-mode: luminosity; */
     /* background-repeat: no-repeat; */
}

nav {
     font-size: 10px;
}

html, body, label, input, button, img, nav, a {
     cursor: url("/static/models/lol.cur"), auto;
}

#go-to-game {
     cursor: url("/static/models/lol.cur"), auto;
}
