{% extends "layout.html" %}

{% block content %}

<div class="container text-center my-5">
     <p style="font-size: 40px;" class="my-5 fw-bold">About The Game</p>
     <p style="font-size: 25px; text-align: justify;" class="my-5">
          Rainwater falling on the houses' roofs and the town's impermeable surfaces (pavements, streets, yards, etc.)
          is collected. The roofs' rainwater is stored in Tanks Νο1 and is primarily used for household non potable uses.
          The surface runoff from the impermeable surfaces is stored in Tanks Νο2, where it also meets the rainwater of any probable overflow
          οf Tanks Νο1. Rainwater of Tanks Νο2 is used for irrigation as well as for storage in the subsurface (Aquifer) through artificial recharge.
          Additional rainwater is collected via Bioswale systems (open-channel linear drainage systems) from the town's fields and reserved in
          Τanks Νο3. This water is also used for irrigation, while any probable overflow of Tanks No3 heads to the subsurface through
          artificial recharge. Water can be recovered from the subsurface for irrigation.
     </p>
</div>

{% endblock content %}
