{% extends "layout.html" %}

{% block content %}

<div class="container text-center my-5">
     <p style="font-size: 29px;" class="my-5">Hydrousa Serious Game</p>

     <p style="font-size:14px;" class="my-5 text-center">
          This gaming experience lets you become the savior of a virtual town, by helping it recover from a water crisis. Goal of the
          game is managing to find a system design that exploits the town's available resources wisely and meets the respective irrigation
          and household non potable demands.
     </p>

     <div class="justify-content-center my-5">
          <a class="my-5" href="{{ url_for('game_page') }}"><button id="go-to-game" style="font-size: 26px;" type="button" class="btn btn-info btn-lg">Go To The Game <i class="bi bi-controller" style="font-size: 2.3vw;"></i></button></a>
     </div>
</div>

{% endblock content %}
