<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name='viewport' content='width=device-width, initial-scale=1.0'>

    <title>Hydrousa SG</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/models/favicon.ico"/>
</head>
<body>
     <!-- Create a hidden h1 tag just for the website to be able to be found!-->
     <h1 hidden>Sg Hydrousa</h1>
     <canvas id="webgl"></canvas>

     <div id="loading-bar"></div>

     <!-- Lets play button -->
     <button type="button" class="play" hidden>Let's Play!</button>

     <!-- Introduction MenuS providing information about the game -->
     <!-- First we have the "Welcome" Menu -->

     <div class="introduction-menu">
          <p id="introduction-menu-text" style="position: absolute; top: 35%; left:12%">Welcome to Hydrousa Serious Game!</p>
          <button type="button" id="introduction-menu-button">GOT IT</button>
     </div>

     <div class="theory-menu">
          <p id="theory-menu-text">This gaming experience lets you become the savior of a virtual town, by helping it recover from a water
          crisis. Goal of the game is managing to find a system design that exploits the town's available resources wisely and meets the
          respective irrigation and household non potable demands.
          <br>
          <br>
          Rainwater falling on the houses' roofs and the town's impermeable surfaces (pavements, streets, yards, etc.)
          is collected. The roofs' rainwater is stored in Tanks Νο1 and is primarily used for household non potable uses.
          The surface runoff from the impermeable surfaces is stored in Tanks Νο2, where it also meets the rainwater of any probable overflow
          οf Tanks Νο1. Rainwater of Tanks Νο2 is used for irrigation as well as for storage in the subsurface (Aquifer) through artificial recharge.
          Additional rainwater is collected via Bioswale systems (open-channel linear drainage systems) from the town's fields and reserved in
          Τanks Νο3. This water is also used for irrigation, while any probable overflow of Tanks No3 heads to the subsurface through
          artificial recharge. Water can be recovered from the subsurface for irrigation. </p>

          <img src="../static/models/theory.png" alt="Game Theory" style="max-width:37%; height:auto;" id="theory-menu-img">
          <button type="button" id="theory-menu-button">GOT IT</button>
     </div>

     <!--
     <p id="controls-menu-text"> Use your right mouse click to move and left click to open the 3 hidden town menus, which can help you
     design the town's water management policy. The menus open only when you approach specific city components.
     Clue: The city components that activate the hidden menus are shown below. Good luck!</p>
 -->

     <div class="controls-menu">
          <div class="controls-submenu-1">
               <p id="controls-submenu-1-text">There are 3 Difficulty Levels. Hover the information icons with your mouse for more details.</p>
               <br>
               <img src="../static/models/difficulty_menu.png" alt="Difficulty Menu" style="max-width:90%; height:auto;" id="controls-submenu-1-img">
          </div>
          <div class="controls-submenu-2">
               <p id="controls-submenu-2-text">&#8226; <b>Movement:</b> Use your right mouse click <br> &#8226; <b>1:</b> Click to see the final results once you're confident the demands are met <br> &#8226; <b>2:</b> Remaining time to design the system <br> &#8226; <b>3:</b> The decisions you make to design the system have a respective construction and operating cost
               <br> &#8226; <b>4:</b> Volume Controller <br> &#8226; <b>5:</b> Information about the remaining deficits, updating dynamically whenever a decision is made <br> &#8226; <b>6:</b> Useful graphs, updating dynamically whenever a decision is made </p>
               <img src="../static/models/interface.png" alt="Difficulty Menu" style="max-width:45%; height:auto;" id="controls-submenu-2-img">
          </div>
          <div class="controls-submenu-3">
               <p id="controls-submenu-3-text">To make your decisions and design the system, you have to find and open three hidden menus. Each menu opens whenever you approach and left click a respective city component. <br> <b>Clue:</b> The aforementioned city components look like this: </p>
               <img src="../static/models/houses2.PNG" alt="Houses" id="controls-submenu-3-img-1" style="max-width:22%; height:auto;">
               <img src="../static/models/crops.PNG" alt="Crops" id="controls-submenu-3-img-2" style="max-width:22%; height:auto;">
               <img src="../static/models/water_tower.PNG" alt="Water Tower" id="controls-submenu-3-img-3" style="max-width:25%; height:auto;">

          </div>
          <div class="controls-submenu-4">
               <p id="controls-submenu-4-text">This is a hidden menu. Use the sliders to design the system the way you want. You can request more information on each slider by hovering the respective icons with your mouse.</p>
               <img src="../static/models/hidden_menus.png" alt="Houses" id="controls-submenu-4-img" style="max-width:55%; height:auto;">
          </div>

          <button type="button" id="controls-menu-button">GOT IT</button>
     </div>


     <!-- Difficulty Menu -->
     <div class="game-difficulty">
          <p id="difficulty-text">Choose Difficulty</p>
          <button type="button" id="easy-button"><img src="../static/models/info.png" alt="info" width="24" id="easy-img"> EASY</button>
          <button type="button" id="medium-button"><img src="../static/models/info.png" alt="info" width="24" id="medium-img"> MEDIUM</button>
          <button type="button" id="hard-button"><img src="../static/models/info.png" alt="info" width="24" id="hard-img"> HARD</button>
     </div>

     <div class="city-menu">
          <!-- <label for="population">Population: </label>
          <input id="population" type="range" name="population" min="1000" max="20000" step="1000" value="5000" style="width: 335px;">
          <span id="populationValue">5000</span>
          <br> -->

          <label for="roofs"><img src="../static/models/info.png" alt="info" width="24" id="roofs-area-img"> How much area do you want to exploit from the roofs? </label>
          <br>
          <input id="roofs" type="range" name="roofs" min="0" max="200000" step="100" value="100" style="width: 75%; margin-bottom: 0.75vw;">
          <span id="roofsValue">100</span>
          <br>

          <label for="roofsCoeff"><img src="../static/models/info.png" alt="info" width="24" id="roofs-coeff-img"> How much do you expect the roofs' runoff coefficient to be? </label>
          <br>
          <input id="roofsCoeff" type="range" name="roofsCoeff" min="0.5" max="0.9" step="0.01" value="0.5" style="width: 75%; margin-bottom: 0.75vw;">
          <span id="roofsCoeffValue">0.5</span>
          <br>

          <label for="yards"><img src="../static/models/info.png" alt="info" width="24" id="yards-area-img"> How much area do you want to exploit from the impermeable surfaces? </label>
          <br>
          <input id="yards" type="range" name="yards" min="0" max="200000" step="100" value="100" style="width: 75%; margin-bottom: 0.75vw;">
          <span id="yardsValue">100</span>
          <br>

          <label for="yardsCoeff"><img src="../static/models/info.png" alt="info" width="24" id="yards-coeff-img"> How much do you expect the impermeable surfaces' runoff coefficient to be? </label>
          <br>
          <input id="yardsCoeff" type="range" name="yardsCoeff" min="0.5" max="0.9" step="0.01" value="0.5" style="width: 75%; margin-bottom: 0.75vw;">
          <span id="yardsCoeffValue">0.5</span>
          <button type="button" id="city-ok">OK</button>
     </div>

     <div class="water-tower-menu">
          <label for="roofsTankVolume"><img src="../static/models/info.png" alt="info" width="24" id="roofs-tank-img"> How large do you want to make Tanks No1? </label>
          <br>
          <input id="roofsTankVolume" type="range" name="roofsTankVolume" min="0" max="50000" step="1" value="0" style="width: 75%; margin-bottom: 0.6875vw;">
          <span id="roofsTankVolumeValue">0</span>
          <br>

          <label for="tank2Volume"><img src="../static/models/info.png" alt="info" width="24" id="tank2-img"> How large do you want to make Tanks No2? </label>
          <br>
          <input id="tank2Volume" type="range" name="tank2Volume" min="0" max="50000" step="1" value="0" style="width: 75%; margin-bottom: 0.6875vw;">
          <span id="tank2VolumeValue">0</span>
          <br>

          <label for="openTankVolume"><img src="../static/models/info.png" alt="info" width="24" id="open-tank-img"> How large do you want to make Tanks No3? </label>
          <br>
          <input id="openTankVolume" type="range" name="openTankVolume" min="0" max="50000" step="1" value="0" style="width: 75%; margin-bottom: 0.6875vw;">
          <span id="openTankVolumeValue">0</span>
          <br>

          <label for="subsurfaceTankVolume"><img src="../static/models/info.png" alt="info" width="24" id="subsurface-tank-img"> How much Aquifer capacity do you want to exploit? </label>
          <br>
          <input id="subsurfaceTankVolume" type="range" name="subsurfaceTankVolume" min="0" max="200000" step="10" value="0" style="width: 75%; margin-bottom: 0.6875vw;">
          <span id="subsurfaceTankVolumeValue">0</span>
          <br>

          <label for="tank2MinVolPercentage"><img src="../static/models/info.png" alt="info" width="24" id="tank2-min-vol-per"> What percentage of Tanks No2 capacity do you want to remain to Tanks No2 and not head to the Aquifer? </label>
          <br>
          <input id="tank2MinVolPercentage" type="range" name="tank2MinVolPercentage" min="0.01" max="0.99" step="0.01" value="0.5" style="width: 75%; margin-bottom: 0.6875vw;">
          <span id="tank2MinVolPercentageValue">0.5</span>
          <br>

          <label for="subsurfaceTankMaxVolPercentage"><img src="../static/models/info.png" alt="info" width="24" id="sub-tank-max-vol-per"> What percentage of the Aquifer's capacity do you never want to exceed? </label>
          <br>
          <input id="subsurfaceTankMaxVolPercentage" type="range" name="subsurfaceTankMaxVolPercentage" min="0.01" max="0.99" step="0.01" value="0.5" style="width: 75%; margin-bottom: 0.6875vw;">
          <span id="subsurfaceTankMaxVolPercentageValue">0.5</span>

          <button type="button" id="water-tower-ok">OK</button>
     </div>

     <div class="crop-menu">
          <!-- <label for="irrigation">Irrigation Demand (mm): </label>
          <input id="irrigation" type="range" name="irrigation" min="5" max="200" step="1" value="25" style="width: 200px;">
          <span id="irrigationValue">25</span>
          <br> -->
          <label for="stormwaterArea"><img src="../static/models/info.png" alt="info" width="24" id="storm-area-img"> How much area do you want to exploit from the fields? </label>
          <br>
          <input id="stormwaterArea" type="range" name="stormwaterArea" min="0" max="200000" step="100" value="100" style="width: 75%; margin-bottom: 0.75vw;">
          <span id="stormwaterAreaValue">100</span>
          <br>

          <label for="stormwaterCoeff"><img src="../static/models/info.png" alt="info" width="24" id="storm-coeff-img"> How much do you expect the fields' runoff coefficient to be? </label>
          <br>
          <input id="stormwaterCoeff" type="range" name="stormwaterCoeff" min="0.5" max="0.9" step="0.01" value="0.5" style="width: 75%; margin-bottom: 0.75vw;">
          <span id="stormwaterCoeffValue">0.5</span>
          <br>

          <label for="BioswaleInfiltrationRate"><img src="../static/models/info.png" alt="info" width="24" id="bios-infil-img"> How much do you expect the infiltrated water from the fields to the Bioswale systems to be? </label>
          <br>
          <input id="BioswaleInfiltrationRate" type="range" name="BioswaleInfiltrationRate" min="0.3" max="0.9" step="0.01" value="0.3" style="width: 75%; margin-bottom: 0.75vw;">
          <span id="BioswaleInfiltrationRateValue">0.3</span>
          <br>

          <label for="bioswaleQmax"><img src="../static/models/info.png" alt="info" width="24" id="bios-qmax-img"> What maximum water flow do you want the Bioswale systems to have? </label>
          <br>
          <input id="bioswaleQmax" type="range" name="bioswaleQmax" min="10" max="10000" step="10" value="10" style="width: 75%; margin-bottom: 0.75vw;">
          <span id="bioswaleQmaxValue">10</span>

          <button type="button" id="crop-ok">OK</button>
     </div>

     <div class="sound-control">
          <i class="fa fa-volume-up" style='font-size:1.875vw'></i>
          <br>
          <input id="sound-mixer" type="range" name="sound-mixer" min="0" max="1" step="0.025" value="0.1" orient="vertical">
     </div>

     <button type="button" class="simulation-button">I'm Ready!</button>

     <div class="results">
          <p class="results-text"></p>
          <button type="button" id="results-ok">OK</button>
          <button type="button" id="new-game" hidden disabled>New Game</button>
     </div>

     <div class="budget"></div>

     <div class="irrigation-household-info"></div>

     <div class="time"></div>

     <div id="hydrousa-logo-container">
          <a href="https://www.hydrousa.org/" target="_blank"><img src="../static/models/hydrousa_logo.PNG" alt="Hydrousa Logo" width="75"></a>
     </div>

     <div id="ntua-logo-container">
          <a href="https://www.ntua.gr/en/" target="_blank"><img src="../static/models/ntua_logo.png" alt="NTUA Logo" width="75"></a>
     </div>

     <div id="uwmh-logo-container">
          <a href="https://uwmh.eu/" target="_blank"><img src="../static/models/uwmh_logo.jpg" alt="UWMH Logo" width="230"></a>
     </div>

     <div class="info-text"></div>


     <!-- Graphs Section -->

     <!-- TANK 1 STORAGE -->
     <div id="tank1-container">
          <img src="../static/models/tank1.png" alt="Tank 1 Image" width="45" id="tank1-img" hidden>
     </div>

     <!-- Both the div container and the actual canvas are VISIBLE the entire time and we change the OPACITY of the container to appear/disappear the graph -->
     <div class="graph-tank1-container">
          <canvas id="graph-tank1-canvas"></canvas>
     </div>

     <!-- TANK 2 STORAGE -->
     <div id="tank2-container">
          <img src="../static/models/tank2.png" alt="Tank 2 Image" width="45" id="tank2-img2" hidden>
     </div>

     <!-- Both the div container and the actual canvas are VISIBLE the entire time and we change the OPACITY of the container to appear/disappear the graph -->
     <div class="graph-tank2-container">
          <canvas id="graph-tank2-canvas"></canvas>
     </div>

     <!-- TANK 3 STORAGE -->
     <div id="tank3-container">
          <img src="../static/models/tank3.png" alt="Tank 3 Image" width="45" id="tank3-img" hidden>
     </div>

     <!-- Both the div container and the actual canvas are VISIBLE the entire time and we change the OPACITY of the container to appear/disappear the graph -->
     <div class="graph-tank3-container">
          <canvas id="graph-tank3-canvas"></canvas>
     </div>

     <!-- AQUIFER STORAGE -->
     <div id="tank4-container">
          <img src="../static/models/tank4.png" alt="Aquifer Image" width="45" id="tank4-img" hidden>
     </div>

     <!-- Both the div container and the actual canvas are VISIBLE the entire time and we change the OPACITY of the container to appear/disappear the graph -->
     <div class="graph-tank4-container">
          <canvas id="graph-tank4-canvas"></canvas>
     </div>

     <!-- IRRIGATION DEFICIT -->
     <div id="irrigation-container">
          <img src="../static/models/irrigation.png" alt="Irrigation" width="45" id="irrigation-img" hidden>
     </div>

     <!-- Both the div container and the actual canvas are VISIBLE the entire time and we change the OPACITY of the container to appear/disappear the graph -->
     <div class="graph-irrigation-container">
          <canvas id="graph-irrigation-canvas"></canvas>
     </div>

     <!-- HOUSEHOLD DEFICIT -->
     <div id="household-container">
          <img src="../static/models/household.png" alt="Household" width="45" id="household-img" hidden>
     </div>

     <!-- Both the div container and the actual canvas are VISIBLE the entire time and we change the OPACITY of the container to appear/disappear the graph -->
     <div class="graph-household-container">
          <canvas id="graph-household-canvas"></canvas>
     </div>

     <p id="copyright-text">&copy; 2022 URBAN WATER MANAGEMENT AND HYRDROINFORMATICS GROUP</p>
     <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
